body {
    display: flex;
    background-color: #62676c;
    font-family: serif;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
    background-color: #3ccb5d;
    display:block;
  
    border-left: 4px solid #067911;
    border-top: 4px solid #067911;
    border-right: 4px solid #027e0f;
    border-bottom: 4px solid #027e0f;
  }

  .laberinto{
    display:grid;
    grid-template-columns: repeat(var(--num-columnas), var(--size));
    grid-template-rows: repeat(var(--num-filas), var(--size));
  }
   
  .laberinto div{
    background-color: #24a442;
    text-align: center;
    line-height: var(--size);
  }

 .laberinto .camino{
    background-color: #03fa3c;
    text-align: center;
    line-height: var(--size);
  }

  :root{
    --num-columnas: 1;
    --num-filas: 1;
    --size: 10px;
  }